@import "src/style/colors";

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: $header-background;

  a {
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: $header-text;
  }

  a.active {
    color: $header-active-link;
  }
}
